<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations sur les Vibrations</title>
</head>

<body>
    <div class="container mt-5">

        <%- include('widgets/navbar') %>

            <h1>Informations sur les Vibrations</h1>

            <% if (vibration) { %>
                <p><strong>Nom:</strong>
                    <%= vibration.name %>
                </p>
                <p><strong>Emplacement:</strong>
                    <%= vibration.location %>
                </p>
                <p><strong>Identifiant de la Famille:</strong>
                    <%= vibration.familyId %>
                </p>
                <p><strong>Identifiant du Propriétaire:</strong>
                    <%= vibration.ownerId %>
                </p>
                <% } else { %>
                    <p>Aucune information disponible sur cette vibration.</p>
                    <% } %>
    </div>
</body>

</html>